<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side" role="navigation" opened>
    <mat-nav-list>
      <a mat-list-item position="start" routerLink="main">
        Dashboard
        <div class="spacer"></div>
        <mat-icon>apps</mat-icon>
      </a>
      <a mat-list-item routerLink="users"  >
        Users
        <div class="spacer"></div>
        <mat-icon>face</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
